@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

body[data-theme='light'] {
  @apply bg-slate-50 text-slate-900;
}
